@model mvcStok._1.Models.Entity.tblKategoriler
@{
    ViewBag.Title = "ekle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
        <label>Kategori Adı:</label>
        <input type="text" class="form-control" name="kategoriad" />
    </div>*@
    <div>
        <label>Kategori Adı:</label>
        @Html.TextBoxFor(m=> m.kategoriad, new { @class = "form-control"})
        @Html.ValidationMessageFor(m=> m.kategoriad,"",new {@style = "color:red"} )
    </div>
    <div>
        <button id="btn1"  style="margin-top:5px" class ="btn btn-default">Kategori Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Müşteri ekleme işlemi yapıldı!');
        });
    </script>
</form>

