@using mvcStok._1.Models.Entity
@model List<tblMusteriler>
@{
    ViewBag.Title = "musteriler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered" id="tbl1">
    <thead>
        <tr>
            <th>Müşteri ID</th>
            <th>Müşteri AD</th>
            <th>Müşteri SOYAD</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.musteriid</td>
                <td>@musteri.musteriad</td>
                <td>@musteri.musterisoyad</td>
                <td><a href="/musteriler/sil/@musteri.musteriid"onclick="return confirm('Silmek istiyor musunuz?')" class="btn btn-danger">SİL</a></td>
                <td><a href="/musteriler/guncelle/@musteri.musteriid" class="btn btn-default">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/musteriler/ekle/" class="btn btn-default" style="background-color:#cecece">Yeni Müşteri Ekle</a>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>